<style>
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
  .site-title{
    color: #006ad1;
    font-family: 'Mochiy Pop One', sans-serif;
    font-weight: 500;
    font-size: 40px;
  }
</style>
<header class="site-header" role="banner">
  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
<!--     <div class="site-subtitle">Curated videos & articles</div> -->

<!--     <a class="suggest-content" href="mailto:archanakalburgi@gmail.com"> -->
<!--       Suggest content -->
<!--     </a> -->
  </div>
</header>
