<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>{{ page.title }}  TukTuk</title>

  <!-- Font + Styles -->
  <!-- <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css2?family=Rakkas&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

  <!-- Favicon -->
  <link rel="icon" href="{{ site.baseurl }}/assets/images/favicon.ico" type="image/x-icon">
</head>

<body>
  <!-- HEADER -->
  <header class="site-header">
    <div class="nav-container">
      <a class="site-title" href="{{ site.baseurl }}/">TukTuk</a>
      <nav class="nav-links">
        <a href="https://archanakalburgi.github.io/">Home</a>
        <a href="https://archanakalburgi.github.io/code_challenges/">Code Challenges</a>
      </nav>
    </div>
  </header>

  <!-- MAIN CONTENT -->
  <main class="container">
    {{ content }}
  </main>

  <!-- FOOTER -->
  <footer class="container">
    <p>&copy; {{ site.time | date: "%Y" }} TukTuk. All rights reserved.</p>
  </footer>
</body>
</html>

<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>

